@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("book.jpg");
  background-size: cover;
}

.form_error span {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 1.1em;
  color: #D83D5A;
}
.form_error input {
  border: 1px solid #D83D5A;
}

/*Styling in case no errors on form*/
.form_success span {
  width: 80%;
  height: 35px;
  margin: 3px 10%;
  font-size: 120%;
  color: rgb(34, 224, 34);
}
.form_success input {
  border: 1px solid rgb(33, 216, 33);
}
#error_msg {
  color: red;
  text-align: center;
  margin: 10px auto;
  font-size: 160%;
}
#success_msg {
  color: #795533;
  text-align: center;
  margin: 10px auto;
  font-size: 160%;
}

.container{
  position:absolute;
  width: auto;
  height:auto;
  top: calc(50% - 250px);
  left: calc(50% - 190px);
}

form {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 380px;
  height: 560px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

h3 {
  margin-top: 30px;
  font-family: 'Dosis';
  font-size: 35px;
  text-transform: uppercase;
  color: #87613d;
  margin-bottom: 105px;
}

button.form-btn {
  position: absolute;
  width: 50%;
  height: 60px;
  bottom: 0;
  border: 0;
  font-family: 'Dosis';
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

button.form-btn.sx {
  left: 0;
  border-radius: 0 0 0 5px;
  background-color: rgba(255, 125, 0, 0.35);
  color: #fff;
  transition:all 0.3s linear;
}

button.form-btn.sx:hover {
  background-color:rgba(255, 125, 0, 0.65);
  color: #fff;
}

button.form-btn.dx {
  right: 0;
  border-radius: 0 0 5px 0;
  background-color: #ff7d00;
  color: #fff;
}


input {
  /* border: none; */
  border: 1px solid #ffc185;
  outline: none;
  border-radius: 10px;
  padding: 0.9%;
  width: 85%;
  font-family: 'Roboto';
  color: #ff7d00;
  text-align: center;
  font-size: 21px;
  font-weight:100;
  margin-top:25px;
}

::-webkit-input-placeholder {
   color: #eb9d4f;
  font-family: 'Roboto';
  font-weight:100;
}
@media (min-width : 420px){

  @media (max-height : 530px){
    .container{
      top: 10%;
    }
  }

}
@media (max-width : 420px){

  @media (max-height : 380px){
    .container{
      margin-top: 20%;
    }
  }
  @media (max-height : 250px){
    .container{
      margin-top: 30%;
    }
  }
  @media (max-height : 185px){
    .container{
      margin-top: 40%;
    }
  }

}

@media (max-width: 420px){

  .container{
    top: calc(50% - 175px);
    left: calc(50% - 124px);
  }
  
  form {
    width: 250px;
    height: 350px;
    padding: 20px 10px 0 10px;
  }
  
  h3 {
    font-size: 25px;
    margin-bottom: 70px;
  }

  input {
    width: 95%;
    font-size: 18px;
    margin-bottom:20px;
  }

  button.form-btn {
    height: 40px;
    font-size: 20px;
  }

}